.App {
  text-align: center;
}

.game_canvas{
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
}

.container{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3,33%);
}

.cell{
  border: 1px solid black;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell span{
  font-size: 2rem;
  font-weight: 700;
}